@font-face {
    font-family: "Pixelify Sans";
    src: url("/fonts/PixelifySans-Regular.ttf");
}

.root {
    -fx-font-family: "Pixelify Sans";
}

.button {
    -fx-background-color: #9e9e9e;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.label {
    -fx-text-fill: black;
}

